<%= form_for(@diagnosis, html: {class: 'form-horizontal'}) do |f| %>
    <% if @diagnosis.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@diagnosis.errors.count, "error") %> prohibited this diagnosis from being saved:</h2>

          <ul>
            <% @diagnosis.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field form-group">
      <%= f.label :code, class: 'col-md-2 control-label' %>
      <div class="col-sm-4">
        <%= f.text_field :code, class: 'form-control' %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :name, class: 'col-md-2 control-label' %>
      <div class="col-sm-4">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="field form-group">
      <%= f.label :description, class: 'col-md-2 control-label' %>
      <div class="col-sm-4">
        <%= f.text_area :description, class: 'form-control' %>
      </div>
    </div>
    <div class="actions form-group">
      <div class="col-sm-offset-2 col-sm-4">
        <%= f.submit class:'btn btn-default' %>
      </div>
    </div>
<% end %>