<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @diagnosis.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @diagnosis.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @diagnosis.description %>
</p>

<%= link_to 'Edit', edit_diagnosis_path(@diagnosis), class: "btn btn-default" %> |
<%= link_to 'Back', diagnoses_path, class: "btn btn-default" %>
