<h1>Listing master_medical_facilities</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Address</th>
      <th>Telephone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @master_medical_facilities.each do |master_medical_facility| %>
      <tr>
        <td><%= master_medical_facility.Code %></td>
        <td><%= master_medical_facility.Name %></td>
        <td><%= master_medical_facility.Address %></td>
        <td><%= master_medical_facility.Telephone %></td>
        <td><%= link_to 'Show', master_medical_facility %></td>
        <td><%= link_to 'Edit', edit_master_medical_facility_path(master_medical_facility) %></td>
        <td><%= link_to 'Destroy', master_medical_facility, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Master medical facility', new_master_medical_facility_path %>
