<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @master_medical_facility.Code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @master_medical_facility.Name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @master_medical_facility.Address %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @master_medical_facility.Telephone %>
</p>

<%= link_to 'Edit', edit_master_medical_facility_path(@master_medical_facility) %> |
<%= link_to 'Back', master_medical_facilities_path %>
