<h1>Listing anamneses</h1>

<table>
  <thead>
    <tr>
      <th>Personid</th>
      <th>Medicalfacilityid</th>
      <th>Dateofcreation</th>
      <th>Userid</th>
      <th>Remark</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @anamneses.each do |anamnese| %>
      <tr>
        <td><%= anamnese.PersonID %></td>
        <td><%= anamnese.MedicalFacilityID %></td>
        <td><%= anamnese.DateOfCreation %></td>
        <td><%= anamnese.UserID %></td>
        <td><%= anamnese.Remark %></td>
        <td><%= link_to 'Show', anamnese %></td>
        <td><%= link_to 'Edit', edit_anamnese_path(anamnese) %></td>
        <td><%= link_to 'Destroy', anamnese, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Anamnesis', new_anamnese_path %>
