<p id="notice"><%= notice %></p>

<p>
  <strong>Personid:</strong>
  <%= @anamnese.PersonID %>
</p>

<p>
  <strong>Medicalfacilityid:</strong>
  <%= @anamnese.MedicalFacilityID %>
</p>

<p>
  <strong>Dateofcreation:</strong>
  <%= @anamnese.DateOfCreation %>
</p>

<p>
  <strong>Userid:</strong>
  <%= @anamnese.UserID %>
</p>

<p>
  <strong>Remark:</strong>
  <%= @anamnese.Remark %>
</p>

<%= link_to 'Edit', edit_anamnese_path(@anamnese) %> |
<%= link_to 'Back', anamneses_path %>
