<p id="notice"><%= notice %></p>

<p>
  <strong>Evidentionid:</strong>
  <%= @attachment.EvidentionID %>
</p>

<p>
  <strong>Image:</strong>
  <%= @attachment.Image %>
</p>

<%= link_to 'Edit', edit_attachment_path(@attachment) %> |
<%= link_to 'Back', attachments_path %>
