<%= form_for(@tm_link) do |f| %>
  <% if @tm_link.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tm_link.errors.count, "error") %> prohibited this tm_link from being saved:</h2>

      <ul>
      <% @tm_link.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :TherapyID %><br>
    <%= f.number_field :TherapyID %>
  </div>
  <div class="field">
    <%= f.label :MedicamentID %><br>
    <%= f.number_field :MedicamentID %>
  </div>
  <div class="field">
    <%= f.label :Quantity %><br>
    <%= f.text_field :Quantity %>
  </div>
  <div class="field">
    <%= f.label :Description %><br>
    <%= f.text_field :Description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
