<p id="notice"><%= notice %></p>

<p>
  <strong>Therapyid:</strong>
  <%= @tm_link.TherapyID %>
</p>

<p>
  <strong>Medicamentid:</strong>
  <%= @tm_link.MedicamentID %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @tm_link.Quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @tm_link.Description %>
</p>

<%= link_to 'Edit', edit_tm_link_path(@tm_link) %> |
<%= link_to 'Back', tm_links_path %>
