<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @user_type.Code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user_type.Name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user_type.Description %>
</p>

<%= link_to 'Edit', edit_user_type_path(@user_type) %> |
<%= link_to 'Back', user_types_path %>
