<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @therapy.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @therapy.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @therapy.description %>
</p>

<%= link_to 'Edit', edit_therapy_path(@therapy) %> |
<%= link_to 'Back', therapies_path %>
