<h1>Listing es_links</h1>

<table>
  <thead>
    <tr>
      <th>Evidentionid</th>
      <th>Symptomid</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @es_links.each do |es_link| %>
      <tr>
        <td><%= es_link.EvidentionID %></td>
        <td><%= es_link.SymptomID %></td>
        <td><%= es_link.Description %></td>
        <td><%= link_to 'Show', es_link %></td>
        <td><%= link_to 'Edit', edit_es_link_path(es_link) %></td>
        <td><%= link_to 'Destroy', es_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Es link', new_es_link_path %>
