<p id="notice"><%= notice %></p>

<p>
  <strong>Evidentionid:</strong>
  <%= @es_link.EvidentionID %>
</p>

<p>
  <strong>Symptomid:</strong>
  <%= @es_link.SymptomID %>
</p>

<p>
  <strong>Description:</strong>
  <%= @es_link.Description %>
</p>

<%= link_to 'Edit', edit_es_link_path(@es_link) %> |
<%= link_to 'Back', es_links_path %>
