<p id="notice"><%= notice %></p>

<p>
  <strong>Personid:</strong>
  <%= @measurement.PersonID %>
</p>

<p>
  <strong>Vp1:</strong>
  <%= @measurement.VP1 %>
</p>

<p>
  <strong>Vp2:</strong>
  <%= @measurement.VP2 %>
</p>

<p>
  <strong>Vp3:</strong>
  <%= @measurement.VP3 %>
</p>

<p>
  <strong>Date:</strong>
  <%= @measurement.Date %>
</p>

<%= link_to 'Edit', edit_measurement_path(@measurement) %> |
<%= link_to 'Back', measurements_path %>
