<h1>Listing ed_links</h1>

<table>
  <thead>
    <tr>
      <th>Evidentionid</th>
      <th>Diagnoseid</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ed_links.each do |ed_link| %>
      <tr>
        <td><%= ed_link.EvidentionID %></td>
        <td><%= ed_link.DiagnoseID %></td>
        <td><%= ed_link.Description %></td>
        <td><%= link_to 'Show', ed_link %></td>
        <td><%= link_to 'Edit', edit_ed_link_path(ed_link) %></td>
        <td><%= link_to 'Destroy', ed_link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ed link', new_ed_link_path %>
