<h1>Listing medicaments</h1>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicaments.each do |medicament| %>
      <tr>
        <td><%= medicament.code %></td>
        <td><%= medicament.name %></td>
        <td><%= medicament.description %></td>
        <td><%= link_to 'Show', medicament %></td>
        <td><%= link_to 'Edit', edit_medicament_path(medicament) %></td>
        <td><%= link_to 'Destroy', medicament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medicament', new_medicament_path %>
