<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @medicament.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @medicament.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @medicament.description %>
</p>

<%= link_to 'Edit', edit_medicament_path(@medicament) %> |
<%= link_to 'Back', medicaments_path %>
